body {
    font-family: sans-serif; /* добавити потрібний шрифт */
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.container {
    width: 100%;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}