@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-MediumItalic.woff') format('woff'),
        url('../../fonts/NeueMontreal-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-Light.woff') format('woff'),
        url('../../fonts/NeueMontreal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-Bold.woff') format('woff'),
        url('../../fonts/NeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-Italic.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-Italic.woff') format('woff'),
        url('../../fonts/NeueMontreal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-LightItalic.woff') format('woff'),
        url('../../fonts/NeueMontreal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-BoldItalic.woff') format('woff'),
        url('../../fonts/NeueMontreal-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-Regular.woff') format('woff'),
        url('../../fonts/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../../fonts/NeueMontreal-Medium.woff') format('woff'),
        url('../../fonts/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

