:root {
  /* COLORS */
  --color-primary: #242424;
  --color-primary-light: #2424241a; /* 10% */
  --color-primary-medium: #24242466; /* 40% */
  --color-primary-heavy: #24242499; /* 60% */
  --color-primary-tint: #242424cc; /* 80% */

  --color-secondary: #f4f4f4;
  --color-secondary-light: #f4f4f41a; /* 10% */
  --color-secondary-shade: #f4f4f433; /* 20% */
  --color-secondary-medium: #f4f4f466; /* 40% */
  --color-secondary-heavy: #f4f4f499; /* 60% */

  --color-rating: #eea10c;
  --color-notselected: #d4d4d4;
  --color-subtle: #c6cdd1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-modal-backdrop: #04040466; /* 40% */

  --darkmode-background: #0f0f0f;
  --darkmode-modal-backdrop: #04040466; /* 60% */
  --darkmode-primary: #242424;
  --darkmode-primary-light: #2424241a; /* 10% */
  --darkmode-primary-medium: #24242466; /* 40% */
  --darkmode-primary-heavy: #24242499; /* 60% */
  --darkmode-primary-tint: #242424cc; /* 80% */
  --darkmode-secondary: #f4f4f4;
  --darkmode-secondary-light: #f4f4f41a; /* 10% */
  --darkmode-secondary-shade: #f4f4f433; /* 20% */
  --darkmode-secondary-medium: #f4f4f466; /* 40% */
  --darkmode-secondary-heavy: #f4f4f499; /* 60% */

  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-small: 10px;
  --radius-medium: 30px;
  --radius-large: 60px;

  /* BREAKPOINTS */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* TRANSITION */
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* QUOTE DARK MODE */

  --quote-background: #ffffff;
  --quote-text: #000000;
  --quote-sub-title: #24242499;
  --news-favor-icon: #242424;
  --news-icon: #f4f4f4;
  --news-background-icon: #242424;
}

body.dark_mode {
  /* Pagination colors */

  --quote-background: #242424;
  --quote-text: #ffffff;
  --quote-sub-title: #f4f4f499;
  --news-favor-icon: #f4f4f4;
  --news-icon: #f4f4f4;
  --news-background-icon: #f4f4f433;
}
