.favorites {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: var(--color-secondary);
}

body.dark_mode .favorites {
  background-color: var(--darkmode-background);
}

.favorites__title {
  margin-bottom: 20px;

  color: var(--color-primary);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.02em;
}

body.dark_mode .favorites__title {
  color: var(--darkmode-secondary);
}

.favorites__sidebar {
  margin-bottom: 40px;
  width: 100%;

  /* TEMP VALUE */
  height: 500px;

  /* outline: 1px solid tomato; */
}

.favorites__list-wrapper {
  width: 100%;
}

/* .favorites__list-wrapper--desktop {
  width: 100%;
  display: none;
} */

.favorites__list {
  width: 100%;
}

.favorites__list--mobile {
}

.favorites__list--desktop {
  display: none;
}

.favorites__item {
  flex-basis: 100%;

  margin-bottom: 20px;
}

.favorites__item:last-child {
  margin-bottom: 0;
}

.favorites__card {
}

.favorites__no-cards {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.285;
  text-align: center;
}

.favorites__no-cards.is-visible {
  display: block;
}
/* -------------------------------------------------------------------------------------------- */
/* ------------------------------MEDIA--------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
@media screen and (min-width: 375px) {
  /*  */
}

@media screen and (min-width: 768px) {
  /*  */
  .favorites {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .favorites__title {
    margin-bottom: 32px;

    font-size: 44px;
    line-height: 1.1;
  }

  .favorites__sidebar {
    margin-bottom: 64px;

    /* TEMP VALUE */
    height: 400px;
  }

  .favorites__list-wrapper {
  }

  .favorites__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }

  .favorites__list--desktop {
    display: none;
  }

  .favorites__item {
    flex-basis: calc((100% - 16px) / 2);
    margin-bottom: 0;
  }

  .favorites__no-cards {
    font-size: 18px;
    line-height: 1.333;
    padding-top: 64px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1440px) {
  /*  */
  .favorites {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .favorites__wrapper {
    display: flex;
    column-gap: 32px;
  }

  .favorites__sidebar {
    margin-bottom: 0;
    width: 494px;
    flex-shrink: 0;
  }

  .favorites__list-wrapper {
    /* display: none; */
    /* padding-right: 16px;
    max-height: 487px;
    overflow-y: auto; */

    padding-right: 16px;
    max-height: 500px;
    overflow-y: auto;
  }

  /* .favorites__list-wrapper--desktop {
    display: block;
    padding-right: 16px;
    max-height: 487px;
    overflow-y: auto;
  } */

  .favorites__list-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(36, 36, 36, 0.1);
    border-radius: 8px;
  }

  body.dark_mode .favorites__list-wrapper::-webkit-scrollbar {
    background-color: rgba(155, 153, 153, 0.1);
  }

  /*.favorites__list-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  } */

  .favorites__list-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 8px;
  }

  body.dark_mode .favorites__list-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--darkmode-secondary-heavy);
  }

  .favorites__list {
  }

  .favorites__list--mobile {
    display: none;
  }

  .favorites__list--desktop {
    display: flex;
  }

  .favorites__no-cards {
    padding-top: 112px;
    padding-left: 148px;
    padding-right: 148px;
  }
}
