.sport-card {
  /* font-family: Neue Montreal, 'sans-serif'; */
  padding: 16px;

  background-color: var(--color-white);
  border-radius: 15px;
}

body.dark_mode .sport-card {
  background-color: var(--darkmode-background);
  border: 1px solid var(--darkmode-secondary);
}

.sport-card__header {
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sport-card__tag-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.sport-card__tag {
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;

  border: 1px solid var(--color-primary);
  border-radius: 16px;
}

body.dark_mode .sport-card__tag {
  color: var(--darkmode-secondary);
  border: 1px solid var(--darkmode-secondary);
}

.sport-card__remove-btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.sport-card__remove-btn > .icon {
  fill: none;
  stroke: var(--color-primary);
  transition: stroke 300ms ease-in-out;
}

body.dark_mode .sport-card__remove-btn > .icon {
  stroke: var(--darkmode-secondary);
}

.sport-card__remove-btn:hover {
  background-color: var(--color-primary);
}

body.dark_mode .sport-card__remove-btn:hover {
  border: 1px solid var(--darkmode-secondary);
}

.sport-card__remove-btn:hover > .icon {
  stroke: var(--color-secondary);
}

.sport-card__start-btn {
  padding: 1px 12px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;

  border-radius: 15px;

  transition: all 300ms ease-in-out;

  border: 1px solid transparent;
}

body.dark_mode .sport-card__start-btn {
  color: var(--darkmode-secondary);
}

.sport-card__start-btn > .icon {
  stroke: var(--color-primary);
  transition: stroke 300ms ease-in-out;
}

body.dark_mode .sport-card__start-btn > .icon {
  stroke: var(--darkmode-secondary);
}

.sport-card__start-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

body.dark_mode .sport-card__start-btn:hover {
  border: 1px solid var(--darkmode-secondary-heavy);
}

.sport-card__start-btn:hover .icon {
  stroke: var(--color-white);
}

.sport-card__meta {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  column-gap: 16px;
}

body.dark_mode .sport-card__meta > .icon {
  border: 1px solid var(--color-white);
  border-radius: 50%;
}

.sport-card__name {
  font-size: 20px;
  line-height: 1;
}

.sport-card__name::first-letter {
  text-transform: uppercase;
}

.sport-card__footer {
}

.sport-card__param-list {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: 12px;
  line-height: 1.5;
}

.sport-card__param-item {
  color: rgba(36, 36, 36, 0.4);
}

body.dark_mode .sport-card__param-item {
  color: var(--darkmode-secondary-heavy);
}

.sport-card__param__value {
  margin-left: 2px;
  color: var(--color-primary);
}

body.dark_mode .sport-card__param__value {
  color: var(--darkmode-secondary);
}

/* -------------------------------------------------------------------------------------------- */
/* ------------------------------MEDIA--------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
@media screen and (min-width: 375px) {
  /*  */
}

@media screen and (min-width: 768px) {
  /*  */

  .sport-card__start-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 16px;
    line-height: 1.5;
  }

  .sport-card__meta {
    margin-bottom: 8px;
  }

  .sport-card__name {
    font-size: 24px;
    line-height: 1.33;
  }

  .sport-card__param-list {
    column-gap: 16px;
  }

  .sport-card__param__value {
    margin-left: 4px;
  }
}

@media screen and (min-width: 1440px) {
  /*  */
}
