<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="raiting container">
      <button class="btn_close" aria-label="Close window" data-modal-close>
        <svg class="btn_close_svg">
          <use href="/img/sprite.svg#icon-close" width="24" height="24"></use>
        </svg>
      </button>
      <h4 class="title">Rating</h4>
      <div class="wripper">
        <p class="rating" data-raiting>0.0</p>
        <ul class="list">
          <li class="item">
            <div class="btn_star">
              <svg class="btn_star_svg">
                <use href="/img/sprite.svg#icon-star" width="24" height="24"></use>
              </svg>
            </div>
          </li>
          <li class="item">
            <div class="btn_star">
              <svg class="btn_star_svg">
                <use href="/img/sprite.svg#icon-star" width="24" height="24"></use>
              </svg>
            </div>
          </li>
          <li class="item">
            <div class="btn_star">
              <svg class="btn_star_svg">
                <use href="/img/sprite.svg#icon-star" width="24" height="24"></use>
              </svg>
            </div>
          </li>
          <li class="item">
            <div class="btn_star">
              <svg class="btn_star_svg">
                <use href="/img/sprite.svg#icon-star" width="24" height="24"></use>
              </svg>
            </div>
          </li>
          <li class="item">
            <div class="btn_star" data-rating="5">
              <svg class="btn_star_svg">
                <use href="/img/sprite.svg#icon-star" width="24" height="24"></use>
              </svg>
            </div>
          </li>
        </ul>
      </div>
      <form class="rating_form">
        <input
          class="rating_input"
          name="email"
          type="email"
          placeholder="Email"
          pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
        />
        <textarea class="rating_textarea" name="review" placeholder="Your comment"></textarea>
        <button class="rating_btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
