<div class="raiting container">
  <a class="btn_close">
    <svg class="btn_close_svg">
      <use href="../../img/sprite.svg#icon-close" width="24" height="24"></use>
    </svg>
  </a>
  <h4 class="title">Rating</h4>
  <div class="wripper">
    <p class="rating" data-raiting>0.0</p>
    <ul class="list">
      <li class="item">
        <a class="btn_star" data-rating="1">
          <svg class="btn_star_svg">
            <use
              href="../../img/sprite.svg#icon-star"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a class="btn_star" data-rating="2">
          <svg class="btn_star_svg">
            <use
              href="../../img/sprite.svg#icon-star"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a class="btn_star" data-rating="3">
          <svg class="btn_star_svg">
            <use
              href="../../img/sprite.svg#icon-star"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a class="btn_star" data-rating="4">
          <svg class="btn_star_svg">
            <use
              href="../../img/sprite.svg#icon-star"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="item">
        <a class="btn_star" data-rating="5">
          <svg class="btn_star_svg">
            <use
              href="../../img/sprite.svg#icon-star"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <form class="rating_form">
    <input class="rating_input" type="email" placeholder="Email" />
    <textarea class="rating_textarea" placeholder="Your comment"></textarea>
    <button class="rating_btn" type="submit">Send</button>
  </form>
</div>
