<section class="modal_window_container is-hidden">
  <div class="modal_window_default_content">
    <button class="close_modal_button" type="button" data-modal-favorite-close>
      <svg class="close_modal_btn" height="20" width="20">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal_window_update">
      <div class="modal_image_container">
        <img class="modal_image" src="./img/no-image.jpg" alt="${name}" />
      </div>
      <div class="modal_window_content">
        <div class="modal_text_content">
          <h3 class="modal_title">Not Defined</h3>
          <div class="rating_modal_wrapper">
            <p class="excercise_rating">N/A</p>
            <ul class="list stars_list">
              <li class="rating_item">
                <div class="star_item">
                  <svg height="24" width="24" class="rating_star_modal first_star">
                    <use href="./img/icons.svg#icon-star-rating"></use>
                  </svg>
                </div>
              </li>
              <li class="rating_item">
                <div class="star_item">
                  <svg height="24" width="24" class="rating_star_modal second_star">
                    <use href="./img/icons.svg#icon-star-rating"></use>
                  </svg>
                </div>
              </li>
              <li class="rating_item">
                <div class="star_item">
                  <svg height="24" width="24" class="rating_star_modal third_star">
                    <use href="./img/icons.svg#icon-star-rating"></use>
                  </svg>
                </div>
              </li>
              <li class="rating_item">
                <div class="star_item">
                  <svg height="24" width="24" class="rating_star_modal fourth_star">
                    <use href="./img/icons.svg#icon-star-rating"></use>
                  </svg>
                </div>
              </li>
              <li class="rating_item">
                <div class="star_item">
                  <svg height="24" width="24" class="rating_star_modal fifth_star">
                    <use href="./img/icons.svg#icon-star-rating"></use>
                  </svg>
                </div>
              </li>
            </ul>
          </div>
          <ul class="excercise_units">
            <li class="excercise_item">
              <h4 class="excercise_title">Taget</h4>
              <p class="excercise_text js-target">Not Defined</p>
            </li>
            <li class="excercise_item">
              <h4 class="excercise_title">Body Part</h4>
              <p class="excercise_text js-body-part">Not Defined</p>
            </li>
            <li class="excercise_item">
              <h4 class="excercise_title">Equipment</h4>
              <p class="excercise_text js-equipment">Not Defined</p>
            </li>
            <li class="excercise_item">
              <h4 class="excercise_title">Popular</h4>
              <p class="excercise_text js-popularity">Not Defined</p>
            </li>
            <li class="excercise_item">
              <h4 class="excercise_title">Burned calories</h4>
              <p class="excercise_text js-burned-calories">Not Defined</p>
            </li>
            <li><p class="modal_text js-modal-text">Not Defined</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="buttons_modal">
      <button class="add-fav-btn js-add-favorite-btn" type="button">
        <span class="fav-text fav-text--add">Add to favorite</span>
        <span class="fav-text fav-text--remove">Remove from favorites</span>
        <svg class="fav-icon fav-icon--heart" height="20" width="20">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <svg class="fav-icon fav-icon--trash" height="20" width="20">
          <use href="./img/icons.svg#icon-trash"></use>
        </svg>
      </button>
      <button class="rate_button" type="button" data-modal-open>Give a rating</button>
    </div>
    <div class="modal_window_update"></div>
  </div>
</section>
