<section class= "modal_window_container is-hidden">
<div class = "modal_window_default_content"> 
           <button class="close_modal_button" type="button" data-modal-favorite-close><svg class="close_modal_btn" height="20" width="20"><use href="./img/icons.svg#icon-x"></use></svg></button>
           
      <div class ="modal_window_update">

      </div>   <div class="buttons_modal"><button class="add_favorite_button" type="button">Add to favorite<svg class ="favorite_btn_icon" height="20" width="20"><use href="./img/icons.svg#icon-heart"></use></svg></button>
<button class="rate_button" type="button"  data-modal-open>Give a rating</button></div> 

</div>
</section>