<main class="policy-page">
  <div class="container">
    <h2 class="policy-title">Privacy Policy</h2>
    <p class="policy-text">
      Your privacy is important to us. This section outlines how we collect, use, process, and
      protect your personal data. This Privacy Policy applies to the use of our website,
      applications, and services, so please take a moment to read it. <br />
      <span class="policy-text-decor">What personal data do we collect:</span>
      <br />We may collect various types of personal data that you voluntarily provide when
      interacting with our website, registering an account, placing an order, or filling out forms.
      This may include your name, email address, phone number, address, order information, and more.
      <br />
      <span class="policy-text-decor">How we use your personal data:</span>
      <br />
      We use the collected personal data to provide services, manage your account, process orders,
      provide you with information about our products and services, and to communicate with you
      regarding inquiries and updates.
      <br />
      <span class="policy-text-decor">Protection of personal data:</span>
      <br />
      We take every effort to protect your information and use modern technologies to prevent
      unauthorized access, loss, or disclosure of your personal information. <br /><span
        class="policy-text-decor"
        >Disclosure to third parties:</span
      >
      <br />
      We do not disclose your personal data to third parties without your consent, except when
      required by law or to provide the services you requested. <br />
      <span class="policy-text-decor">Changes to the Privacy Policy:</span>
      <br />
      We may periodically update this Privacy Policy. Please refer to this page to stay informed
      about any changes. <br />
      <span class="policy-text-decor">Contact us:</span> <br />
      If you have any questions or concerns regarding this Privacy Policy or your information,
      please contact us using the contact details provided on our website."
    </p>
    <h2 class="policy-title">Terms of Service</h2>
    <p class="policy-text">
      <span class="policy-text-decor">1. Acceptance of Terms</span>
      <br />
      Welcome to Your Energy! These Terms of Service ("Terms") outline the terms and conditions for
      using our fitness exercise courses and services (collectively referred to as the "Services").
      By accessing or using our Services, you agree to comply with and be bound by these Terms. If
      you do not agree with these Terms, please do not use our Services. <br />
      <span class="policy-text-decor">2. Services Overview</span> <br />
      Your Energy is dedicated to providing engaging and effective sport exercise courses in a
      supportive and stimulating learning environment. Our aim is to help learners enhance their
      fitness skills through our courses. <br />
      <span class="policy-text-decor">3. Content and Intellectual Property</span>

      <br />
      3.1. Course Materials: All course materials, including text, videos, graphics, and other
      content, are the intellectual property of Your Energy or its licensors. You are granted a
      limited, non-exclusive, non-transferable license to access and use these materials for
      educational purposes only. <br />3.2. Prohibited Use: You may not reproduce, distribute,
      modify, create derivative works of, publicly display, or perform any of our course materials
      without prior written consent from Your Energy. <br />
      <span class="policy-text-decor">4. User Conduct</span> <br />4.1. Respectful Behavior: Your
      Energy maintains a respectful and inclusive learning environment. You agree not to engage in
      any behavior that is harmful, discriminatory, harassing, or disruptive to other learners or
      instructors. <br />4.2. Compliance with Laws: You agree to comply with all applicable laws and
      regulations while using our Services.
      <br />
      <span class="policy-text-decor">5. Privacy</span> <br />Your privacy is important to us. Our
      Privacy Policy explains how we collect, use, and protect your personal information. By using
      our Services, you consent to the collection and use of your information as described in our
      Privacy Policy. <br />
      <span class="policy-text-decor">6. Termination</span> <br />
      Your Energy reserves the right to suspend or terminate your access to our Services at its
      discretion, with or without cause.
      <br />
      <span class="policy-text-decor">7. Disclaimer of Warranties</span>
      <br />
      Our Services are provided "as is" and "as available."" Your Energy does not make any
      warranties, whether expressed or implied, regarding the accuracy, reliability, or availability
      of the Services. <br />
      <span class="policy-text-decor">8. Limitation of Liability</span>
      <br />
      Your Energy shall not be liable for any indirect, incidental, special, consequential, or
      punitive damages arising out of or in connection with the use of our Services. <br />
      <span class="policy-text-decor">9. Modifications to Terms</span>
      <br />
      Your Energy reserves the right to modify or update these Terms at any time. We will provide
      notice of such changes, and your continued use of our Services after the changes are posted
      will signify your acceptance of the modified Terms. <br />
      <span class="policy-text-decor">10. Contact Us</span> <br />
      If you have any questions or concerns about these Terms or our Services, please contact us at
      [contact email]. These Terms of Service were last updated on [date of last update].
    </p>
  </div>
</main>
