/* MOBILE STYLES */
.modal_window_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-medium);
    transition: opacity var(--transition-time) var(--transition-function),
        visibility var(--transition-time) var(--transition-function);
    padding: 72px 24px 24px 24px;
}

.is_hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.close_modal_button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
   
    padding: 0;
    cursor: pointer;
    transition: var(--transition-time) var(--transition-function);}
.modal_window_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 335px;
    min-height: 584px;
    background-color: var(--color-primary);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 20px 40px 20px;
    color: var(--color-secondary)
}
.modal_image{
    display: flex;
        width: 295px;
        height: 258px;
        padding: 45px 105px;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;
}
.buttons_modal{
    display:flex;
    justify-content: space-between;
}
.add_favorite_button{
    display: flex;
        padding: 12px 24px;
              justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: var(--radius-medium);
        color: var(--color-primary);
        background-color: var(--color-secondary);
        transition: background-color var(--transition-time) var(--transition-function),
            color var(--transition-time) var(--transition-function),
            border var(--transition-time) var(--transition-function);
}

.add_favorite_button:hover,
.add_favorite_button:focus{
    background-color: inherit;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}
.rate_button{
    display: flex;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: var(--radius-medium);
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
        background-color: inherit;
        transition: background-color var(--transition-time) var(--transition-function),
                color var(--transition-time) var(--transition-function),
                border var(--transition-time) var(--transition-function);
}
.rate_button:hover,
.rate_button:focus{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    
}
.excercise_units{
    display: flex;
        width: 295px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 40px;
        margin-top: 30px;
}
.modal_title{
    margin-bottom: 10px;
    margin-top: 20px;
    
}
.excercise_title{
    color: var(--color-secondary-medium);
}
.modal_text{
    color: var(--color-secondary-heavy);
}
