/* MOBILE STYLES */

.modal_window_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-medium);
    transition: opacity var(--transition-time) var(--transition-function),
        visibility var(--transition-time) var(--transition-function);
    padding: 72px 24px 24px 24px;
}

.is_hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.close_modal_button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    padding: 0;
    cursor: pointer;
    transition: var(--transition-time) var(--transition-function);
    border: none;
}

.close_modal_btn{
    stroke: var(--color-secondary);
    fill: var(--color-secondary);
    width: 24px;
    height: 24px;
}

.modal_window_default_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 335px;
    min-height: 584px;
    background-color: var(--color-primary);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 20px 40px 20px;
    color: var(--color-secondary)
}

.modal_image{
    display: flex;
    width: 295px;
    height: 258px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    border-radius: 12px;
        background: linear-gradient(0deg, rgba(4, 4, 4, 0.20) 0%, rgba(4, 4, 4, 0.20) 100%), url(<path-to-image>), lightgray -2px -6.558px / 105.185% 109.653% no-repeat;
}
.buttons_modal{
    display:flex;
    justify-content: space-between;
}
.add_favorite_button{
    display: inline-flex;
    padding: 12px 19px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-medium);
    color: var(--color-primary);
    background-color: var(--color-secondary);
    transition: background-color var(--transition-time) var(--transition-function),
        color var(--transition-time) var(--transition-function),
        border var(--transition-time) var(--transition-function);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid var(--color-secondary);

}

.add_favorite_button:hover,
.add_favorite_button:focus{
    background-color: inherit;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}
.rate_button{
    display: flex;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-medium);
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: inherit;
    transition: background-color var(--transition-time) var(--transition-function),
            color var(--transition-time) var(--transition-function),
            border var(--transition-time) var(--transition-function);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.rate_button:hover,
.rate_button:focus{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    
}
.excercise_units{
    display: flex;
        width: 295px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 40px;
        margin-top: 0;
}
.modal_title{
    padding-bottom: 10px;
    padding-top: 20px;
    
}
.modal_title::first-letter,
.excercise_text::first-letter{
    text-transform:uppercase;
}

.excercise_text{    
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.excercise_title{
    color: var(--color-secondary-medium);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
}
.modal_text{
    color: var(--color-secondary-heavy);
    font-size: 14px;
        line-height: 18px;
}
.favorite_btn_icon{
    stroke: var(--color-primary);
    fill: var(--color-secondary);
    background-color: transparent;
    border: none;
    transition: stroke var(--transition-time) var(--transition-function),
                fill var(--transition-time) var(--transition-function);

}
.add_favorite_button:hover .favorite_btn_icon,
.add_favorite_button:hover .favorite_btn_icon{
    stroke: var(--color-secondary);
    fill: var(--color-primary);
}

.add_favorite_button::after{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.add_favorite_button::after .favorite_btn_icon,
.add_favorite_button::after .favorite_btn_icon {
    stroke: var(--color-primary);
    fill: var(--color-secondary);
    }
.excercise_rating {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.rating_modal_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    margin-bottom: 24px;
}
.rating_star_modal{
    fill: var(--color-secondary-shade);
}

.rating_star_filled{
    fill: var(--color-rating);
}
.modal_window_default_content{
    display: flex;
    flex-direction: column;
}
.hidden-icon{
    display: none;
}
@media screen and (min-width: 768px) {
    .modal_window_default_content{
        width: 704px;
        min-height: auto;
        padding: 32px;
        flex-direction: row;
        
    }
    .modal_window_content {
        width: 704px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* align-content: center; */
        flex-wrap: wrap;
        padding-left: 32px;
        }
        /* .modal_text_content{
            
        } */
        .modal_title{
            padding-top: 0;
            
        }
        .buttons_modal{
            display: flex;
            justify-content: space-between;
            padding-top: 64px;
        }
        .modal_image_container{
            min-width: 270px;
            height:inherit;
        }
        
        }
