<section class="filters">
  <div class="container">
    <div class="cat-filter">
      <h2 class="cat-title">Exercises <span class="cat-title-span"></span></h2>
      <div class="filter">
        <input type="text" class="filter-input" placeholder="Search" hidden />
        <ul class="filter-list">
          <li class="filter-item">
            <button type="button" class="filter-btn active" data-name="Muscles">
              Muscles
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-btn" data-name="Body parts">
              Body parts
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-btn" data-name="Equipment">
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
