<section class="filters">
  <div class="container">
    <div class="cat-filter">
      <h2 class="cat-title">Exercises <span class="cat-title-span"></span></h2>
      <div class="filter-wrapper">
        <span class="filter-input-wrapper isHidden">
          <input
            class="input-filter-exercises"
            type="text"
            name="filter-exercises"
            placeholder="Search"
          />
          <svg class="filter-icon-search" width="18" height="18">
            <use href="././img/icons.svg#icon-search"></use>
          </svg>
          <svg class="filter-icon-close isHidden" width="18" height="18">
            <use href="././img/icons.svg#icon-close"></use>
          </svg>
        </span>
        <ul class="filter-list">
          <li class="filter-item">
            <button type="button" class="filter-btn active" data-name="Muscles">
              Muscles
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-btn" data-name="Body parts">
              Body parts
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-btn" data-name="Equipment">
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
