<section class="hero">
  <div class="hero-container">
    <div class="hero-content-wrap">
      <div class="hero-head">
        <h1 class="hero-header">
          <img
            src="../img/hero/hero-sun.svg"
            alt="sun-icon"
            width="60"
            height="60"
            class="hero-icon"
          />
          <span class="hero-header-span"
            >Get <span class="hero-body">Body</span> in</span
          ><br />
          shape, Stay healthy
        </h1>

        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <img
        src="../img/hero/legs.jpg"
        srcset="../img/hero/legs.jpg 1x, ../img/hero/legs.jpg 2x"
        alt="women legs"
        class="hero-hashtag-img"
      />
      <div class="hero-hashtag hero-hashtag-container">
        <ul class="hero-hashtag-list">
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Sport</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Healthy</div>
          </li>
          <li class="hero-hashtag-item hero__hash-item_pd">
            <div class="hero-hashtag-wrap">#Workout</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Diet</div>
          </li>
        </ul>
      </div>

      <div class="hero-img-wrap">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="../img/hero/hero.jpg 1x, ../img/hero/hero-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="../img/hero/hero.jpg 1x, ../img/hero/hero-2x.jpg 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="../img/hero/hero.jpg 1x, ../img/hero/hero-2x.jpg 2x"
          />

          <img
            src="../img/hero/hero.jpg "
            srcset="../img/hero/hero.jpg 1x, ../img/hero/hero-2x.jpg 2x"
            alt="women stretch together"
            class="hero-main-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
