<div class="quote-item">
  <div class="quote-container quote-container--day">
    <img
      src="./img/quote/icons/runner.svg"
      alt="runner-icon"
      class="quote-icon"
    />
    <div class="quote-content">
      <div class="quote-header">
        <h3 class="quote-title">Quote of the day</h3>
        <div class="quote-img"></div>
        <img
          src="./img/quote/icons/commas.svg"
          alt="quotation-marks"
          class="quote-marks-icon"
        />
      </div>
      <div class="quote-text"></div>
      <div class="quote-author"></div>
    </div>
  </div>
  <div class="quote-container quote-container--image">
    <img src="./img/quote/quote.png" alt="quote-image" class="quote-main-img" />
  </div>
  <div class="quote-container quote-container--news">
    <div class="news-icon-container">
      <svg class="news-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-quote-news"></use>
      </svg>
    </div>
    <div class="news-content">
      <h3 class="news-title">110 min</h3>
      <p class="news-subtitle">Daily norm of sports</p>
      <div class="news-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </div>
    </div>
  </div>
</div>
