<div class="quote-item">
  <div class="container-tablet">
    <div class="js-quote-container">
      <h3 class="quote-title">Quote of the day</h3>
    </div>
    <div class="quote-img-item"></div>
    <div class="quote-text">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </div>
    <div class="quote-author">Harrison Ford</div>
  </div>
  <div class="quote-static-item">
    <h3 class="quote-static-title">110 min</h3>
    <p class="quote-static-title-sec">Daily norm of sports</p>
    <div class="quote-static-text">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what
      <span class="decor-text"
        >happens if we adjust that number to 110 minutes every day? While it
        might seem like a high number to hit, dedicating 110 minutes daily to
        sporting activities may offer unparalleled benefits to physical health,
        mental well-being, and overall quality of life.
      </span>
    </div>
  </div>
</div>
