<div class="favorites-quote">
  <div class="favorites-quote-container favorites-quote-container--day">
    <img
      src="./img/quote/icons/runner.svg"
      alt="runner-icon"
      class="favorites-quote-icon"
    />
    <div class="favorites-quote-content">
      <div class="favorites-quote-header">
        <h3 class="favorites-quote-title">Quote of the day</h3>
        <div class="favorites-quote-img"></div>
        <img
          src="./img/quote/icons/commas.svg"
          alt="quotation-marks"
          class="favorites-quote-marks-icon"
        />
      </div>
      <div class="favorites-quote-text"></div>
      <div class="favorites-quote-author"></div>
    </div>
  </div>
  <div class="favorites-news-container">
    <div class="favorites-news-container--sport">
      <svg class="favorites-news-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-quote-news"></use>
      </svg>
      <div class="favorites-news-content">
        <h3 class="favorites-news-title">110 min</h3>
        <p class="favorites-news-subtitle">Daily norm of sports</p>
      </div>
    </div>
    <div class="favorites-news-container--image">
      <img
        src="./img/quote/quote-2.png"
        alt="favorites-news-image"
        class="favorites-news-main-img"
      />
    </div>
  </div>
</div>
