<div class="favorites__list-wrapper js-faovorites-wrapper">
  <ul class="favorites__list favorites__list--mobile js-favorites-list"></ul>
  <ul
    class="favorites__list favorites__list--desktop js-favorites-list--desktop"
  ></ul>

  <p class="favorites__no-cards js-favorites-no-cards">
    It appears that you haven't added any exercises to your favorites yet. To
    get started, you can add exercises that you like to your favorites for
    easier access in the future.
  </p>
</div>

<!-- <div class="favorites__list-wrapper--desktop">
  <ul class="favorites__list js-favorites-list--desktop"></ul>

  <p class="favorites__no-cards--desktop js-favorites-no-cards--desktop">
    It appears that you haven't added any exercises to your favorites yet. To
    get started, you can add exercises that you like to your favorites for
    easier access in the future.
  </p>
</div> -->
