<section class="favorites">
  <div class="container">
    <h1 class="favorites__title">Favorites</h1>
    <div class="favorites__wrapper">
      <div class="favorites__sidebar">
        <load ="./favorites-quote.html" />
      </div>

      <load ="./favorites-exercises.html" />
    </div>

    <section class="pagination pagination--desktop-hide">
      <div class="pag js-pag"></div>
    </section>
  </div>

  <!-- <div>
    <button class="js-temp-add-to-favorites" type="button" data-card-id="3434">
      Temp button - Add to favorites
    </button>

    <button style="padding: 20px" class="js-temp-page-down" type="button">
      {
    </button>

    <button style="padding: 20px" class="js-temp-page-up" type="button">
      }
    </button>
  </div> -->
</section>
