.exercise-cards {
  margin-bottom: 20px;
}

.exercises-item {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: 15px;
  transition: scale 250ms var(--transition-function);
}

.exercises-item:hover {
  scale: 1.03;
}

.exercises-rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.exercises-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.exercises-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 75px;
  height: 26px;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.exercises-rating {
  display: flex;
  align-items: center;
  margin-right: 2px;
  color: var(--color-primary);

  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5; /* 150% */
}

.exercises-icon-star-rating {
  fill: var(--color-rating);
}

.exercises-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.exercises-icon-runner {
  border-radius: 50%;
  margin-right: 16px;
}

.exercises-name {
  color: var(--color-primary);

  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.exercises-data-list {
  display: flex;
  gap: 8px;
}

.exercises-data-item {
  color: var(--color-primary);

  font-feature-settings: 'clig' off, 'liga' off;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.5; /* 150% */
}

.exercises-data-info {
  color: var(--color-primary-medium);
}

.exercises-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-style: none;
  border-radius: var(--radius-medium);
  padding: 3px 6px;

  color: inherit;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  transition: background-color 250ms var(--transition-function);
  transition: color 250ms var(--transition-function);
}

.exercises-icon-arrow {
  stroke: var(--color-primary);
  cursor: pointer;
  transition: stroke 250ms var(--transition-function);
}

.exercises-btn:hover {
  background-color: var(--darkmode-secondary-heavy);
  color: var(--color-rating);
}

.exercises-btn:hover .exercises-icon-arrow {
  stroke: var(--color-rating);
}

.exercises-name-span {
  display: flex;
  align-self: center;
  margin-left: 2px;
}

@media screen and (min-width: 768px) {
  .exercise-cards {
    margin-bottom: 32px;
  }

  .exercises-item {
    width: calc((100% - 16px) / 2);
  }

  .exercises-title {
    margin-bottom: 8px;
  }

  .exercises-name {
    font-size: 24px;
  }

  .exercises-btn {
    font-size: 16px;
  }

  .exercises-data-list {
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-data-list {
    gap: 16px;
  }
}

/* =============== DARK MODE THEME =============== */

body.dark_mode .exercises-item {
  background-color: var(--darkmode-background);
  border: 1px solid var(--darkmode-secondary);
}

body.dark_mode .exercises-item:hover,
body.dark_mode .exercises-item:focus {
  background-color: var(--darkmode-secondary-light);
}

body.dark_mode .exercises-text,
body.dark_mode .exercises-name,
body.dark_mode .exercises-rating,
body.dark_mode .exercises-data-info,
body.dark_mode .exercises-data-item {
  color: var(--darkmode-secondary);
}

body.dark_mode .exercises-icon-runner {
  fill: var(--darkmode-background);
}

body.dark_mode .exercises-btn {
  color: var(--darkmode-secondary);
  transition: all var(--transition-time) var(--transition-function);
}

body.dark_mode .exercises-icon-arrow {
  stroke: var(--darkmode-secondary);
  transition: all var(--transition-time) var(--transition-function);
}

body.dark_mode .exercises-data-info {
  color: var(--darkmode-secondary-heavy);
}
body.dark_mode .exercises-text {
  border-color: var(--darkmode-secondary-heavy);
}

body.dark_mode .exercises-btn:hover {
  background-color: var(--darkmode-secondary-light);
  color: var(--color-rating);
}

body.dark_mode .exercises-btn:hover ~ .exercises-icon-arrow {
  stroke: var(--color-rating);
}

.pagination.pagination-cards {
  padding: 0;
}
