.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-exercises {
  transition: scale 250ms var(--transition-function);
}

.card-exercises:hover {
  scale: 1.04;
}

.card-exercises-img {
  width: 335px;
  height: 225px;
  border-radius: 12px;
  border: none;
}

.name-category {
  color: #f4f4f4;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.name-exercises {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 18px; 
}

@media screen and (min-width: 768px) {

  .cards {
    column-gap: 15px;
    row-gap: 32px;
  }

  .card-exercises-img {
    width: 224px;
    height: 224px;
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    width: 900px;
  }

  .card-exercises-img {
    width: 290px;
    height: 242px;
  }

  .name-category {
    font-size: 24px;
    line-height: 24px; 
  }
}

