.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
  /* width: 900px; */
  /* flex-wrap: wrap; */
}

.cat-img {
  width: 290px;
  height: 242px;
  border-radius: 12px;
  border: none;
}

.name-category {
  color: #f4f4f4;
  text-align: center;
  font-size: 24px;
  line-height: 24px; /* 100% */
}

.name-exercises {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 18px; /* 150% */
}

@media screen and (min-width: 768px) {
  .cards {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    flex-wrap: wrap;
    width: 900px;
    gap: 15px;
  }
}
