.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.footer-page {
  background-color: var(--color-primary);
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-logo {
  fill: var(--color-secondary);
}

.footer-logo-img {
  margin-bottom: 20px;
}

.social-list {
  margin-bottom: 40px;
  display: flex;
  gap: 12px;
}

.social-list-item {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: var(--radius-small);
  border: 1px solid rgba(244, 244, 244, 0.1);
}

.social-list-link {
  fill: var(--color-secondary);
}

.footer-headline {
  color: #f4f4f4;
  font-family: DM Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.76px;

  margin-bottom: 20px;
}

.text-italic {
  font-style: italic;
}

.subscribe-description {
  margin-bottom: 20px;
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28rem;
}

.subscribe-form {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe-input {
  color: rgba(244, 244, 244, 0.6);
  font-size: 16px;
  line-height: 1.5rem;
  background-color: var(--color-primary);
  width: 100%;
  padding: 12px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--color-secondary);
}

.submit-btn {
  width: 100%;
  padding: 12px 150px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background-color: var(--color-secondary);
}

.privacy-policy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.privacy-policy-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.privacy-text {
  display: inline-block;
  color: var(--color-subtle);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28rem;
  letter-spacing: -0.28px;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .footer-page {
    padding: 64px 32px 16px 32px;
  }

  .nav-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .nav-footer-container {
    display: flex;
    flex-direction: row;
  }
  .social-list {
    margin-bottom: unset;
  }

  .social-list-icon {
    width: 28px;
    height: 28px;
  }

  .footer-headline {
    font-size: 56px;
    letter-spacing: -1.12px;
    line-height: 60px;
    margin-bottom: 32px;
    padding-left: 114px;
  }

  .form-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 270px;
    margin-bottom: 64px;
  }
  .subscribe-input {
    width: 352px;
    font-size: 16px;
    line-height: 1.5rem;
  }

  .submit-btn {
    width: 352px;
  }
  .subscribe-description {
    margin-bottom: unset;
    font-size: 18px;
    line-height: 1.33rem;
  }
  .privacy-policy-container {
    flex-direction: row;
  }

  .privacy-policy-list {
    flex-direction: row;
    gap: 78px;
  }

  .privacy-text {
    font-size: 14px;
    line-height: 1.28rem;
    letter-spacing: -0.02rem;
  }
}

@media screen and (min-width: 1440px) {
    .footer-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
  }

  .subscribe-form {
    margin: unset;
  }

  .footer-headline {
    width: 595px;
  }

  .form-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: unset;
  }
}
