.hero {
  margin-top: 80px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 96px;
    margin-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .hero {
    margin-top: 100px;
  }
}

.hero-content-wrap {
  display: grid;
  grid-template-areas:
    'head'
    'image'
    'hashtag';
}

@media (min-width: 1440px) {
  .hero-content-wrap {
    grid-template-areas:
      'head hashtag'
      'image image';
  }
}

.hero-hashtag {
  grid-area: hashtag;

  justify-self: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .hero-hashtag {
    justify-self: end;
    margin-top: 16px;
  }
}

@media (min-width: 1440px) {
  .hero-hashtag {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    width: 200px;
  }
}

.hero-hashtag-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-content: flex-start;
  gap: 8px;
}

@media (min-width: 1440px) {
  .hero-hashtag-list {
    flex-wrap: wrap;
  }
}

.hero-hashtag-item {
  font-size: 14px;
  display: flex;
  padding: 4px 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--color-black);
  line-height: 1.28;
}

@media (min-width: 768px) {
  .hero-hashtag-item {
    font-size: 16px;
    padding: 4px 16px;
  }
}

body.dark_mode .hero-hashtag-item {
  border: 1px solid var(--darkmode-secondary);
}

.hero-hashtag-img {
  display: inline-flex;
  margin-bottom: 0px;
  width: 168px;
  height: 100px;
  border-radius: 20px;
}

@media (max-width: 1439px) {
  .hero-hashtag-img {
    display: none;
  }
}

.hero-container {
  padding-top: 64px;
  position: relative;
}

.hero-header {
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.76px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .hero-header {
    font-size: 74px;
    line-height: 74px;
    letter-spacing: -1.48px;
  }
}

.hero-head {
  grid-area: head;
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-head {
    margin-bottom: 32px;
  }
}

.hero-icon {
  display: inline-block;
  vertical-align: middle;
}

body.dark_mode .hero-icon {
  fill: var(--darkmode-secondary);
}

@media (min-width: 768px) {
  .hero-icon {
    width: 59px;
    height: 59px;
    vertical-align: initial;
  }
}

.hero-body {
  font-style: italic;
}

.hero-text {
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: -0.28px;
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 18px;

    line-height: 1.28;
    letter-spacing: -0.36px;
    width: 528px;
  }
}

.hero-main-img {
  height: 450px;
  border-radius: 30px;
  min-width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: 30% 30%;
}

@media (min-width: 768px) {
  .hero-main-img {
    border-radius: 60px;
  }
}

.hero-img-wrap {
  grid-area: image;
}
