@media screen and (min-width: 1440px) {
    .temp-flex {
        display: flex;
        gap: 32px;
    }

    @media (min-width: 1440px) {
    .temp-container {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1440px;
    }
}
}

