@media (min-width: 1440px) {
  .primary-content-flex {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 32px;
  }

  @media (min-width: 1440px) {
    .primary-content-container {
      padding: 0 32px;
      margin: 0 auto;
      max-width: 1440px;
      margin-bottom: 132px;
    }
  }
}
