@import url('./base/modern-normalize.min.css');
@import url('./base/reset.css');
@import url('./base/fonts.css');
@import url('./base/variables.css');
@import url('./base/common.css');
@import url('./utils/modal-exercise.css');
@import url('./utils/modal-rating.css');
@import url('./utils/loader.css');
@import url('./utils/button-up.css');
@import url('./utils/pagintation.css');
@import url('./utils/privacy.css');
@import url('./index/header.css');
@import url('./index/hero.css');
@import url('./index/primary-content.css');
@import url('./index/filters.css');
@import url('./index/exercises.css');
@import url('./index/quote.css');
@import url('./index/footer.css');
@import url('./index/body-parts.css');
@import url('./index/search-exercise.css');
@import url('./favorites/index.css');
@import url('./favorites/favorites-quote.css');
